{{partial 'headers/default'}}
<section>
  <form {{action 'add' on='submit'}}>
  <p><label>Site Name: {{input type="text" id="addname" autofocus='' value=model.name}}</label></p>
  <p><label>Secret Key: {{input type="text" id="addkey" value=model.key}}</label></p>
  <p id="keytype">
    Key format:
    <label>{{ radio-button name="keytype" value="b32" groupValue=keytype }} Base 32</label>
    <label>{{ radio-button name="keytype" value="hex" groupValue=keytype }} Hex</label>
    (Most services display Base 32 keys.)
  </p>
  <p>
    <button class="add" type="submit">Add</button>
    <button class="cancel" {{action 'cancel'}}>Cancel</button>
  </p>
  </form>
</section>
